NET "CLK_50MHZ" LOC = E12 | IOSTANDARD = LVCMOS33 | TNM = "CLK_50MHZ";
TIMESPEC "TS_CLK_50MHZ" = PERIOD "CLK_50MHZ" 20.0ns HIGH 40%;

NET "dcm_clk_4M" TNM = "clk_4M";
NET "sys_clk_4M"  TNM = "clk_4M";
TIMESPEC "TS_clk_4M" = PERIOD "clk_4M" 271.3ns HIGH 50%;
NET "dcm_clk_20M" TNM = "clk_20M";
NET "sys_clk_20M" TNM = "clk_20M";
TIMESPEC "TS_clk_20M" = PERIOD "clk_20M" 50.0ns HIGH 50%;

NET "TXD" LOC = F15 | IOSTANDARD = LVCMOS33;
NET "RXD" LOC = E16 | IOSTANDARD = LVCMOS33;

NET "LED<7>" LOC = "W21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<5>" LOC = "V20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<4>" LOC = "V19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<3>" LOC = "U19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<2>" LOC = "U20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<1>" LOC = "T19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<0>" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

NET "TST_BAUD"   LOC = Y18 | IOSTANDARD = LVCMOS33;
NET "TST_BAUD_8" LOC = W18 | IOSTANDARD = LVCMOS33;
